@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.15;
}

body {
    background:rgb(255, 255, 255);
    color: #345;
    font-family: 'Scope One', serif;
}

article, header {
width: 80%;
max-width: 800px;
margin: auto;
}

img {
    display: block;
    padding: 0;
    max-width: 100%;
}

/*---- Styling Typography ----*/
h1, h2, blockquote {
    color: #ff0000;
    font-family: 'Scope One', serif;
}

p, blockquote {
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
    color: black;
    font-weight: normal;
    margin: 2rem 0 1rem;
}

h2 {
    font-size: 1.7rem;
    margin: 3rem 0 1rem 0;
    color: #ff0000;
    font-weight: normal;
}

blockquote {
    font-size: 1.7rem;
    font-style: italic;
    margin: 0;
    hanging-punctuation: first;
    text-indent: -0.4rem;
}

cite {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #560a0a;
    font-style: normal;
}

header h2 {
    font-size: 2.3rem;
    font-style: italic;
    font-family: 'Scope One', serif;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

header p { 
    font-size: 1.4rem;
    margin-bottom: 6rem;
}

/* ---- Styling Links ---- */
a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    color: #931212;
    border-bottom: 1px dotted;
}

/* ---- Styling Nav ---- */
nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #560a0a;
    padding: 2rem 0;
    font-size: 0.8rem;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a {
    color: azure;
}

nav a:hover {
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}

.logo {
    font-size: 1rem;
    text-align: left;
    padding-right: 45vw;
    font-family: 'Scope One', serif;
}

footer {
    background: #560a0a;
    text-align: center;
    font-size: 0.6rem;
    color: azure;
    padding: 4rem 0 3rem;
    margin-top: 2rem;
}

footer p {
    margin: 0 8rem;
}